# Data Science Tools and Ecosystem

Objectives:

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:

1. ggplot
2. matplotlib
3. pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Usman Ali